body {
  font-family: monospace;
}

ul {
  font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }

  .light-theme {
    color: #d4a60e;
    background: #00FF00;
  }
